<form class="card auth_form" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="header">
        <img class="" src="assets/images/gdlogo.png" alt="Get Dressed" style="max-width: 60%; margin: 20px;">
        <h5>Sign Up</h5>
        <!-- <span>Register a new membership</span> -->
    </div>
    <div class="body">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="First Name" #firstName="ngModel"
                [(ngModel)]="form.firstName" name="firstName">
            <div class="input-group-append">
                <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Last Name" #lastName="ngModel"
                [(ngModel)]="form.lastName" name="lastName">
            <div class="input-group-append">
                <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email" #email="ngModel" [(ngModel)]="form.email"
                name="email">
            <div class="input-group-append">
                <span class="input-group-text"><i class="zmdi zmdi-email"></i></span>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" #password="ngModel"
                [(ngModel)]="form.password" name="password">
            <div class="input-group-append">
                <span class="input-group-text"><i class="zmdi zmdi-lock"></i></span>
            </div>
        </div>
        <div class="checkbox">
            <input id="remember_me" type="checkbox">
            <label for="remember_me">I read and agree to the <a href="javascript:void(0);">terms of usage</a></label>
        </div>
        <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">SIGN UP</button>
        <div class="signin_with mt-3">
            <a class="link" routerLink="/auth/login">You already have an account?</a>
        </div>
    </div>
</form>